<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/doc">Documentation</a>

        <ul class="{% if page.url == "/doc" %}expanded{% endif %}">
          <li>
            <a href="/docs">Reference</a>
          </li>
          <li>
            <a href="/book">Book</a>
          </li>
          <li>
            <a href="/videos">Videos</a>
          </li>
          <li>
            <a href="/doc/ext">External Links</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/downloads">Downloads</a>
        <ul class="{% if page.url == "/downloads" %}expanded{% endif %}">
          <li>
            <a href="/downloads/guis">GUI Clients</a>
          </li>
          <li>
            <a href="/downloads/logos">Logos</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/community">Community</a>
      </li>
    </ul>
    <hr class="sidebar">
  </nav>
</aside>
